<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pagina3</title>
</head>
<body>
    <a>pagina 3</a>

    <a href="/pagina1">pagina1</a>
    <a href="/pagina2">pagina2</a>
    <a href="/pagina3">pagina3</a>
</body>
</html>

